<div class="leaguesBox" id="leaguesBox">
    <!-- 搜尋 -->
    <div class="league_filter">
        <input type="text" placeholder="Hãy nhập tên quốc gia" v-model="iptTxt" @keyup="filter()">
    </div>
    <!-- 監視器 -->
    <div class="monitor">
        <div class="title" :class="{ 'on': fllowLook}" @click="fllowLook = !fllowLook">
            <span>Theo dõi</span>
            <div class="icon_arrow"></div>
        </div>

        <div class="list">
            <ul v-for="(i,index) in listData">
                <template v-for="(item,index) in i.leagues">
                    <li v-if="item.follow"> 
                        <a :href="goLink(item)">
                            <span>{{item.leagueName}}</span>
                        </a>
                        <div class="icon_star" :class="{'on': item.follow}" @click="item.follow = !item.follow, local(item)"></div>
                    </li>
                </template>
            </ul>
        </div>
    </div>

    <!-- 聯盟清單 -->
    <div class="league_sort">
        <ul>
            <li v-for="(item,index) in filterData">
                <div class="title" :class="{ 'on': item.look}" @click="item.look = !item.look">
                    <div class="league">
                        <div class="img">
                            <img :src="item.img" :onerror="errorFlag">
                        </div>
                        <span>{{split(item.country)}}</span>
                    </div>
                    <div class="icon_arrow"></div>
                </div>
                <div class="list">
                    <ul>
                        <li v-for="(item,index) in item.leagues">
                            <a :href="goLink(item)">
                                <span>{{item.leagueName}}</span>
                            </a>
                            <div class="icon_star" :class="{ 'on': item.follow}" @click="item.follow = !item.follow, local(item),getLen()"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                iptTxt: '',
                fllowLook: false,
                memory: [],
                filterData: '',
                listData: '',
                errorFlag: 'this.src="../images/errorFlag.jpg"'
            };
        },

        methods: {
            goLink(item) {
                let noNum = item.leagueNo;
                return `#/football/leagues?noNum=${noNum}`
            },
            filter() {
                let resArr = [];
                let txt = this.iptTxt.trim()
                if (this.iptTxt == '') {
                    resArr = this.listData
                } else {
                    this.listData.filter(function(e) {
                        if (e.country.split('(')[0] == txt) {
                            resArr.push(e);
                        }
                    })
                }

                this.filterData = resArr;
            },
            split: function(data) {
                return data.split('(').join(' (');
            },
            local(item) {
                let data = item.leagueNo;
                if (this.memory.indexOf(data) == -1) {
                    this.memory.push(data)
                } else {
                    let index = this.memory.indexOf(data, 0);
                    this.memory.splice(index, 1);
                }
                localStorage.setItem('localFleague', this.memory);
                this.fllowLook = this.memory.length > 0 ? true : false
            },
            getLen() {
                let len = this.memory.length;
                if (len > 0) {
                    this.fllowLook == true
                } else {
                    this.fllowLook == false
                }
            },
            getData() {
                var self = this;
                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/football/league",
                    dataType: "json",
                    success: function(data) {
                        self.filterData = self.listData = data;
                        self.listData.forEach(function(item) {
                            item.leagues.forEach(function(league) {
                                let data = league.leagueNo;
                                if (self.memory.indexOf(data) == -1) {
                                    league.follow = false;
                                } else {
                                    league.follow = true;
                                }
                            })
                        })
                    }
                });
            },
        },
        mounted() {
            this.getData();
            this.filter()
            let local = localStorage.getItem('localFleague');
            if (local == '' || local == null) {
                localStorage.setItem('localFleague', '');
            } else {
                this.memory = localStorage.getItem('localFleague').split(',');
            }
            this.fllowLook = this.memory.length > 0 ? true : false;
        },
    }).mount("#leaguesBox");
</script>