<div class="gameList" id="gameList">
    <!-- 監視器 -->
    <div class="monitor">
        <div class="title" :class="{ 'on': fllowLook}" @click="fllowLook = !fllowLook">
            <span>Theo dõi</span>
            <div class="icon_arrow"></div>
        </div>

        <div class="live_list">
            <ul>
                <template v-for="(item,index) in listData">
                    <li  v-if="item.follow">
                        <div class="gameItem">
                            <div class="team">
                                <div class="status">
                                    <p>{{item.team.status.time}}<span>{{item.team.status.gameName}}</span></p>
                                </div>
                                <div class="homeTeam">
                                    <p>{{item.homeTeam.name}}<span>{{item.homeTeam.score}}</span></p>
                                    <div class="redCard" v-if="item.homeTeam.redCard != ''">{{item.homeTeam.redCard}}</div>
                                    <div class="yellowCard" v-if="item.homeTeam.yellowCard != ''">{{item.homeTeam.yellowCard}}</div>
                                </div>
                                <div class="guestTeam">
                                    <p>{{item.guestTeam.name}}<span>{{item.guestTeam.score}}</span></p>
                                    <div class="redCard" v-if="item.guestTeam.redCard != ''">{{item.guestTeam.redCard}}</div>
                                    <div class="yellowCard" v-if="item.guestTeam.yellowCard != ''">{{item.guestTeam.yellowCard}}</div>
                                </div>
                            </div>
                            <div class="timeScore">
                                <div class="htit">{{item.timeScore.htit}}</div>
                                <div>{{item.timeScore.homeOdd}}</div>
                                <div>{{item.timeScore.guestOdd}}</div>
                            </div>
                            <div class="score">
                                <div>{{item.score.state}}</div>
                                <div>{{item.score.homeS}}</div>
                                <div>{{item.score.guestS}}</div>
                            </div>
                            <div class="odds">
                                <div class="corner">
                                    <div class="icon_flag" v-if="item.odds.corner != ''"></div>
                                    <span>{{item.odds.corner}}</span>
                                </div>
                                <div class="o1">{{item.odds.lOdd.o1}}</div>
                                <div class="o4">{{item.odds.oOdd.o4}}</div>
                            </div>
                            <div class="odds">
                                <div></div>
                                <div class="o2">{{item.odds.lOdd.o2}}</div>
                                <div class="o5">{{item.odds.oOdd.o5}}</div>
                            </div>
                            <div class="odds">
                                <div class="follow" @click="item.follow = !item.follow ,local(item)">
                                    <div class="icon_star" :class="{ 'on': item.follow}"></div>
                                </div>
                                <div class="o3">{{item.odds.lOdd.o3}}</div>
                                <div class="o6">{{item.odds.oOdd.o6}}</div>
                            </div>
                        </div>
                    </li>
                </template> 
            </ul>
        </div> 
    </div>

    <!-- live清單 -->
    <div class="live_list">
        <ul>
            <li v-for="(item,index) in listData">
                <div class="gameDayrow" v-if="item.dayrow != ''">{{item.dayrow}}</div>
                <div class="gameItem">
                    <div class="team">
                        <div class="status">
                            <p>{{item.team.status.time}}<span>{{item.team.status.gameName}}</span></p>
                        </div>
                        <div class="homeTeam">
                            <p>{{item.homeTeam.name}}<span>{{item.homeTeam.score}}</span></p>
                            <div class="redCard" v-if="item.homeTeam.redCard != ''">{{item.homeTeam.redCard}}</div>
                            <div class="yellowCard" v-if="item.homeTeam.yellowCard != ''">{{item.homeTeam.yellowCard}}</div>
                        </div>
                        <div class="guestTeam">
                            <p>{{item.guestTeam.name}}<span>{{item.guestTeam.score}}</span></p>
                            <div class="redCard" v-if="item.guestTeam.redCard != ''">{{item.guestTeam.redCard}}</div>
                            <div class="yellowCard" v-if="item.guestTeam.yellowCard != ''">{{item.guestTeam.yellowCard}}</div>
                        </div>
                    </div>
                    <div class="timeScore">
                        <div class="htit">{{item.timeScore.htit}}</div>
                        <div>{{item.timeScore.homeOdd}}</div>
                        <div>{{item.timeScore.guestOdd}}</div>
                    </div>
                    <div class="score">
                        <div>{{item.score.state}}</div>
                        <div>{{item.score.homeS}}</div>
                        <div>{{item.score.guestS}}</div>
                    </div>
                    <div class="odds">
                        <div class="corner">
                            <div class="icon_flag" v-if="item.odds.corner != ''"></div>
                            <span>{{item.odds.corner}}</span>
                        </div>
                        <div class="o1">{{item.odds.lOdd.o1}}</div>
                        <div class="o4">{{item.odds.oOdd.o4}}</div>
                    </div>
                    <div class="odds">
                        <div></div>
                        <div class="o2">{{item.odds.lOdd.o2}}</div>
                        <div class="o5">{{item.odds.oOdd.o5}}</div>
                    </div>
                    <div class="odds">
                        <div class="follow" @click="item.follow = !item.follow ,local(item)">
                            <div class="icon_star" :class="{ 'on': item.follow}"></div>
                        </div>
                        <div class="o3">{{item.odds.lOdd.o3}}</div>
                        <div class="o6">{{item.odds.oOdd.o6}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>  
</div>


<script>
    Vue.createApp({
        data() {
            return {
                fllowLook:false,
                listData: '',
                time: '',
                memory: [],
            };
        },
        methods: {
            getData() {
                var self = this;
                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/football/score",
                    dataType: "json",
                    success: function(data) {
                        self.listData = data;
                        self.listData.forEach(function(item) {
                            let data = item.team.status.time + item.team.status.gameName + item.homeTeam.name;
                            if (self.memory.indexOf(data) == -1) {
                                item.follow = false;
                            }else{
                                item.follow = true;
                            }
                        })
                    },
                });
            },
            local(item) {
                let data = item.team.status.time + item.team.status.gameName + item.homeTeam.name
                if (this.memory.indexOf(data) == -1) {
                    this.memory.push(data)
                } else {
                    let index = this.memory.indexOf(data, 0);
                    this.memory.splice(index, 1);
                }
                localStorage.setItem('localFlive', this.memory);
                this.fllowLook = this.memory.length > 0 ? true : false
            }
        },
        mounted() {
            this.getData();
            this.timer = setInterval(this.getData, 1000 * 10);

            let local = localStorage.getItem('localFlive');
            if (local == '' || local == null) {
                localStorage.setItem('localFlive', '');
            } else {
                this.memory = localStorage.getItem('localFlive').split(',');
            }

            this.fllowLook = this.memory.length > 0 ? true : false
        },
    }).mount("#gameList");
</script>