<div class="gameList" id="gameList">
    <ul>
        <li v-for="(item,index) in listData" :class="{ 'on': item.follow && item.dayrow == ''}">
            <div class="gameDayrow" v-if="item.dayrow != ''">{{item.dayrow}}</div>
            <div class="gameItem" :class="{ 'on': item.follow}">
                <div class="team">
                    <div class="status">
                        <p>{{item.team.status.time}}<span>{{item.team.status.gameName}}</span></p>
                    </div>
                    <div class="homeTeam">
                        <p>{{item.homeTeam.name}}<span>{{item.homeTeam.score}}</span></p>
                        <div class="redCard" v-if="item.homeTeam.redCard != ''">{{item.homeTeam.redCard}}</div>
                        <div class="yellowCard" v-if="item.homeTeam.yellowCard != ''">{{item.homeTeam.yellowCard}}</div>
                    </div>
                    <div class="guestTeam">
                        <p>{{item.guestTeam.name}}<span>{{item.guestTeam.score}}</span></p>
                        <div class="redCard" v-if="item.guestTeam.redCard != ''">{{item.guestTeam.redCard}}</div>
                        <div class="yellowCard" v-if="item.guestTeam.yellowCard != ''">{{item.guestTeam.yellowCard}}</div>
                    </div>
                </div>
                <div class="timeScore">
                    <div class="htit">{{item.timeScore.htit}}</div>
                    <div>{{item.timeScore.homeOdd}}</div>
                    <div>{{item.timeScore.guestOdd}}</div>
                </div>
                <div class="score">
                    <div>{{item.score.state}}</div>
                    <div>{{item.score.homeS}}</div>
                    <div>{{item.score.guestS}}</div>
                </div>
                <div class="odds">
                    <div class="corner">
                        <div class="icon_flag"></div>
                        <span>{{item.odds.corner}}</span>
                    </div>
                    <div class="o1">{{item.odds.lOdd.o1}}</div>
                    <div class="o4">{{item.odds.oOdd.o4}}</div>
                </div>
                <div class="odds">
                    <div></div>
                    <div class="o2">{{item.odds.lOdd.o2}}</div>
                    <div class="o5">{{item.odds.oOdd.o5}}</div>
                </div>
                <div class="odds">
                    <div class="follow"  @click="item.follow = !item.follow">
                        <div class="icon_star" 
                        :class="{ 'on': item.follow}"
                       ></div>
                    </div>
                    <div class="o3">{{item.odds.lOdd.o3}}</div>
                    <div class="o6">{{item.odds.oOdd.o6}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>


<script>
    var listData = [{
        'dayrow': '08/08/2021(Chủ nhật)',
        'team': {
            'status': {
                'time': '21:00',
                'gameName': 'VĐQG Thụy Điển'
            }
        },
        'homeTeam': {
            'name': 'Djurgardens',
            'score': '[1]',
            'redCard': '',
            'yellowCard': '2'
        },
        'guestTeam': {
            'name': 'AIK Solna',
            'score': '[3]',
            'redCard': '',
            'yellowCard': '1'
        },
        'timeScore': {
            'htit': 'HT',
            'homeOdd': '1',
            'guestOdd': '1'
        },
        'score': {
            'state': '90+',
            'homeS': '1',
            'guestS': '4'
        },
        'odds': {
            'corner': '5-3',
            'lOdd': {
                'o1': '0.65',
                'o2': '0',
                'o3': '-0.74'
            },
            'oOdd': {
                'o4': '-0.24',
                'o5': '5.5',
                'o6': '0.16'
            }
        }
    }, {
        'dayrow': '',
        'team': {
            'status': {
                'time': '21:00',
                'gameName': 'Giải Hạng 2 Nga'
            }
        },
        'homeTeam': {
            'name': 'Metallurg Lipetsk',
            'score': '[14]',
            'redCard': '',
            'yellowCard': '1'
        },
        'guestTeam': {
            'name': 'Rotor Volgograd',
            'score': '[12]',
            'redCard': '',
            'yellowCard': ''
        },
        'timeScore': {
            'htit': 'HT',
            'homeOdd': '0',
            'guestOdd': '0'
        },
        'score': {
            'state': '90+',
            'homeS': '0',
            'guestS': '1'
        },
        'odds': {
            'corner': '3-6',
            'lOdd': {
                'o1': '-0.68',
                'o2': '0',
                'o3': '0.56'
            },
            'oOdd': {
                'o4': '-0.33',
                'o5': '1.5',
                'o6': '0.21'
            }
        }
    }, {
        'dayrow': '',
        'team': {
            'status': {
                'time': '21:00',
                'gameName': 'VĐQG  Ba Lan'
            }
        },
        'homeTeam': {
            'name': 'Pogon Szczecin',
            'score': '[5]',
            'redCard': '',
            'yellowCard': ''
        },
        'guestTeam': {
            'name': 'Piast Gliwice',
            'score': '[9]',
            'redCard': '',
            'yellowCard': '1'
        },
        'timeScore': {
            'htit': 'HT',
            'homeOdd': '1',
            'guestOdd': '0'
        },
        'score': {
            'state': '90+',
            'homeS': '1',
            'guestS': '0'
        },
        'odds': {
            'corner': '4-8',
            'lOdd': {
                'o1': '0.96',
                'o2': '0',
                'o3': '0.96'
            },
            'oOdd': {
                'o4': '-0.15',
                'o5': '1.5',
                'o6': '0.07'
            }
        }
    }];
    listData.forEach(function(item){
        item.follow = false;
    });

    var app = new Vue({
        el: '#gameList',
        data: {
            listData: listData
        },
        methods:{

        }  
    })
</script>