<div class="newsList" id="newsList">
    <ul>
        <li v-for="(item, index) in listData">
            <a :href=`#/football/news/list=${index}` v-if="item.img != '/images/vn/newDef.gif'">
                <div class="newsMsg">
                    <div class="title">{{split(item.left.atitle)}}</div>
                    <div class="date">{{item.left.date}}</div>
                </div>
                <div class="newsImg">
                    <img :src="item.img">
                </div>
            </a>
        </li>
    </ul>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                listData: '',
            };
        },
        methods: {
            split: function(data) {
                return data.split(/(?=[A-Z])/).join(' ');
            },
            getData() {
                var self = this;
                $.ajax({
                    url: "https://spurslee.myqnapcloud.com:8081/GetJson.php?json=FootBallNews",
                    dataType: "json",
                    success: function(data) {
                        self.listData = data;   
                    },
                });
            },
        },
        mounted() {
            this.getData();
        },
    }).mount("#newsList");

    $('#newsList li').click(function(){
       
    })
</script>