<div class="newsList" id="newsList">
    <ul>
        <li v-for="(item, index) in listData">
            <a :href=`#/football/news/list=${index}` v-if="item.img != '/images/vn/newDef.gif'">
                <div class="newsMsg">
                    <div class="title">{{split(item.left.atitle)}}</div>
                    <div class="date">{{item.left.date}}</div>
                </div>
                <div class="newsImg">
                    <img :src="item.img">
                </div>
            </a>
        </li>
    </ul>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                listData: '',
                time: '',
            };
        },
        methods: {
            split: function(data) {
                return data.split(/(?=[A-Z,-])/).join(' ');
            },
            getData() {
                var self = this;
                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/football/news",
                    dataType: "json",
                    success: function(data) {
                        self.listData = data;   
                    },
                });
            },
        },
        mounted() {
            this.getData();
            this.listData = f_news;
            this.timer = setInterval(this.getData, 1000*10);
        },
    }).mount("#newsList");

</script>